@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/lufga?styles=110361,110364,110354,110357,110359,110362,110350,110352,110348');                
*,
*::before
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
border: 0;
font-family: 'Lufga800', sans-serif;
}
a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;

}

section,
span,
p{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 15px;
}

.header{
    background-image: url(photo/menu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header-logo{
    font-size: 10px;
    font-weight: 100px;
    letter-spacing: 2px;
    border-bottom: 5px solid bisque;
    border-radius: 35px;
    padding-bottom: 5px;
}

.header-navbar{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

ul{
    display: flex;
}

li{
    margin-left: 27px;
}

li :first-child{
    margin: 70px;
}

a{
    color: blueviolet;
    font-weight: bold;
    font-size: 15px;
}

.header-text{
    position: absulate;
    top:50%;
    bottom:50%;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 4.5rem;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    white-space: nowrap;
    font-family: 'Lufga';
    color: aqua;
}

h2{white-space: nowrap;}

h4{
    margin: bottom 25px;
    font-size: 22px;
}

.second-letter{
    margin-bottom: 25px;
    text-align: left;
    font-size: 40px;
    color: blueviolet;
    font-family: 'Herr Von Muellerholf', cursive;
    letter-spacing: 0.5rem;
    font-weight: bold;
    font-weight: 100;
}
.first-letter{
    font-size: 10.3rem;
    font-family: 'Herr Von Muellerholf', cursive;
}


.btn-media{
    display: block;
    color: white;
    background-color: aquamarine;
    padding: 10px, 10px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative;
    overflow: hidden;
}

.btn-media::after{
    content: "search";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.btn-media:hover::after{
    top: 0;
}

.part2{
    margin-bottom: 15px;
}

.part2-title{
    margin: 60px 0;
}

.part2-title h2{
    width:100%;
    text-align: center;
    margin: 0, auto;
    color: aqua;
    font-size: 30px;
    font-weight: 60px;
}

.part2-title h2::after{
    content: "";
    width:30px;
    height: 3px;
    background-color: bisque;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.part2-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.part2-img{
    width: 50%;
    margin-left: 20px;
}

.part2-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part2-text{
    width: 40%;
}

h4{
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    color: blueviolet;
    font-family: 'Herr Von Muellerholf', cursive;
    letter-spacing: 0.5rem;
    font-weight: bold;
    font-weight: 100;
}

#ikon{
    color: red;
    margin-bottom: 25px;
    text-align: center;
}

.part2-text p{
    font-size: 15px;
    text-align: center;
    color: yellow;
}

/*portfolio-part3*/

.part3{
    display: flex;
    flex-wrap: wrap;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.portfolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: blue;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.8;
    color: aliceblue;
    font-size: 50px;
    display: flex;
    justify-content: center;
    transition: .5s;
}

.portfolio:hover .overlay{
    top: 0;
}

.portfolio:hover img{
    transform: scale(1.1);
}

/*conta<ct*/
.contact{
    padding: 10px 0;
}

.contact h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
}

.contact h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: brown;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.contact-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}

.contact-item i{
    font-size: 25px;
    margin-bottom: 30px;
    color:chocolate;
}

.contact-item p{
    font-size: 14px;
    line-height: 33px;
}

/*footer*/
.footer h2{
    color: white;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
    padding: 55px 0;
}

.footer h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.footer{
    background-color: black;
}

.footer-copyright{
    color: white;
    text-align: center;
    flex-basis: 55%;
    line-height: 2;
    font-size: 13px;
    margin-bottom: 25px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-social i{
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 45px;
    margin: 0 auto;
}

.footer-social:first-child{
    margin-left: 70px;
}

#menu-icon{
    font-size: 25px;
    display: none;
}

@media only screen and (max-width:800px){
    .header-menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
    }
}